.customSocialList {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 99;
}

.customSocialItems {
  width: 170px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -115px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.customSocialItems:hover {
  margin-left: -10px;
}

.customTextItems {
  margin: 0px 0px 0px 35px;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  .customSocialItems {
    display: none;
  }
}