---
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";

export interface Props {
  title?: string;
}


const { title = 'Erindale Badminton' } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Erindale badminton clubs welcomes all people 18+ years old." />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{title}</title>
    <style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				/* background-image: linear-gradient(to bottom right, rgba(149, 153, 226,1), rgba(139, 198, 236,0.3)); */
				height: 100vh;
        scroll-behavior: smooth;
			}
      :root {
        --application-color: #0a2703;
        --text-application-color: #f0d24e;
      }
		</style>
  </head>
  <body>
    <Navbar client:visible/>
    <slot />
    <Footer />  
  </body>
</html>